:root {

    --theme-color:#ECE4E1;
    --primary-color:#D6909F;
    --secundary-color:#5C75B8;
    --text-color-inverse:white;
    --text-color:#1B2628;
    --nav-shallow-color:#FFE5CE;
    --menu-mobile-background-color:#C8BEEB;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }